@{
    ViewData["Title"] = "Créditos";
}

<h1 id="text-center">Créditos</h1>
<hr />
<div id="text-center">
    <h3>Vinícius do Nascimento Ayres - CB3025675</h3>
    <h3>Matheus Leandro Terra Luciano - CB3024881</h3>
</div>