@using TP02.Models.Entity;
@model BillOfLading

@{
    ViewData["Title"] = "Cadastrar - BL";
}

<h1 class="text-center mb-4">Cadastrar Nova BL</h1>

<h4 id="text-center">Informações da BL</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="Numero" class="form-label"></label>
                <input asp-for="Numero" class="form-control" placeholder="Número da BL" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Consignee" class="form-label"></label>
                <input asp-for="Consignee" class="form-control" placeholder="Consignee" />
                <span asp-validation-for="Consignee" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Navio" class="form-label"></label>
                <input asp-for="Navio" class="form-control" placeholder="Navio" />
                <span asp-validation-for="Navio" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-4 text-center">
    <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
