@model P02_Web.Models.AutenticarDTO

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Login</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Logar">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">

                            <label asp-for="Login" class="control-label"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Senha" class="control-label"></label>
                            <input asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Logar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>